.header {
    padding: 25px 0;

    @include media('>=768px') {
        padding: 35px 0;
    }

    &.active {
        .header__nav {
            opacity: 1;
            visibility: visible;
        }

        .nav__opener {
            span {
                opacity: 0;
                visibility: hidden;
            }

            &::before {
                transform: rotate(45deg);
                top: 15px;
            }

            &::after {
                transform: rotate(-45deg);
                bottom: 14px;
            }
        }
    }

    .container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.header__button {
    background-color: #FFFFFF;
    border: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 6px 15px #E9EEF1;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 11px 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 200px;
}

a {
    text-decoration: none;
    color: #212353;

}

a:hover {
    font-weight: 600;
}

.arrow {
    padding-left: 20px;
}

.header__nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 100vh;
    z-index: 1;
    transition: all ease-in-out 0.3s;

    @include media ('>=768px') {
        opacity: 1;
        visibility: visible;
        position: static;
        padding: 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .nav {
        @include media('>=768px') {
            margin-right: 50px;
        }
    }



    .nav__list {
        list-style: none;
        padding: 0;
        margin: 0;

        @include media('>=768px') {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 -10px;
        }
    }

    .nav__item {
        margin: 0 0 20px;
        text-align: center;

        @include media ('>=768px') {
            margin: 0;
            padding: 0 10px;
        }

    }

    .nav__link {
        font-size: 14px;
        line-height: 20px;
        color: #2F281E;
        display: block;
        text-decoration: none;
    }
}



.nav__opener {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 2;
    width: 40px;
    height: 30px;

    @include media ('>=768px') {
        display: none;
    }

    &::before,
    &::after,
    span {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 1px;
        background-color: black;
        transition: all ease-in-out 0.3s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    span {
        top: 50%;
        transform: translateY(-50%);
    }
}