/* mixin usage */
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1118px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.footer {
  border-top: 2px solid rgba(156, 105, 226, 0.1);
}
@media (min-width: 768px) {
  .footer {
    padding-top: 100px;
  }
}
@media (min-width: 768px) {
  .footer .hero-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 150px;
  }
}
@media (min-width: 768px) {
  .footer .title {
    max-width: 584px;
    width: 100%;
  }
}
.footer .title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer .title h2 {
    margin-bottom: 20px;
    text-align: start;
  }
}
.footer .title h3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: #4B5D68;
  text-align: center;
}
@media (min-width: 768px) {
  .footer .title h3 {
    font-size: 18px;
    text-align: start;
  }
}
@media (min-width: 768px) {
  .footer .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 410px;
    width: 100%;
  }
}
.footer .nav-holder {
  width: 100%;
}
.footer .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .footer .nav-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}
.footer .nav-list a {
  text-decoration: none;
  color: #fff;
}
.footer .nav-item {
  padding: 8px 18px;
  background: #F063B8;
  border-radius: 50px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.3);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.3);
  width: 45%;
  text-align: center;
}
@media (min-width: 768px) {
  .footer .nav-item {
    padding: 16px 37px;
    margin-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: auto;
    text-align: start;
  }
}
.footer .nav-item.white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .footer .nav-item.white {
    padding: 17px 29px;
    margin-left: 0;
  }
}
.footer .nav-item.white a {
  color: #212353;
}
.footer .nav-item img {
  margin-left: 20px;
}
.footer .list {
  margin: 0;
}
@media (min-width: 768px) {
  .footer .col-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 93px;
  }
}
.footer .col1 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer .col1 {
    max-width: 335px;
    width: 100%;
    margin-bottom: 0;
  }
}
.footer .logo-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .footer .logo-holder {
    margin-bottom: 67px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.footer .logo-name {
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .footer .logo-name {
    margin-left: 20px;
  }
}
.footer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
  text-align: center;
}
@media (min-width: 768px) {
  .footer p {
    text-align: start;
  }
}
.footer .last-child {
  margin-bottom: 10px;
}
.footer .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .footer .mail {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.footer .mail a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .footer .tel {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.footer .tel a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer .about {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer .about {
    max-width: 166px;
    width: 100%;
    margin-left: 140px;
  }
}
.footer .col-title {
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .footer .col-title {
    margin-bottom: 30px;
  }
}
.footer .item {
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer .item {
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
    text-align: start;
    margin-bottom: 0;
  }
}
.footer .item a {
  text-decoration: none;
  color: #212353;
}
.footer .help {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer .help {
    max-width: 166px;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .footer .sm {
    max-width: 178px;
    width: 100%;
    margin-left: 50px;
  }
}
.footer .sm .item {
  border-radius: 100%;
  padding: 15px 20px;
  background-color: #212353;
  opacity: 0.1;
  width: 50px;
  height: 50px;
}
.footer .sm .item.twit {
  padding: 17px 16px;
  margin-left: 13px;
}
.footer .sm .item.inst {
  padding: 17px;
  margin-left: 14px;
}
.footer .sm .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .last-text {
  max-width: 360px;
  width: 100%;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .footer .last-text {
    margin-bottom: 96px;
  }
}