/* mixin usage */
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1148px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.hero-section .container {
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .hero-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 200px;
  }
}
@media (min-width: 768px) {
  .hero-section .container .hero-column {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .hero-section .container .hero-column:first-of-type {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media (min-width: 768px) {
  .hero-section .container .hero-column:last-of-type {
    text-align: start;
  }
}
@media (min-width: 768px) {
  .hero-section .container .img-holder {
    position: absolute;
    right: -85px;
    top: 170px;
    max-width: 650px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .hero-section .container .img-holder {
    max-width: 885px;
  }
}
.hero-section .container h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #212353;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .hero-section .container h1 {
    font-size: 50px;
    line-height: 50px;
    max-width: 645px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .hero-section .container h1 {
    font-size: 80px;
    line-height: 88px;
  }
}
.hero-section .container .text-holder-hero-section {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #4B5D68;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .hero-section .container .text-holder-hero-section {
    font-size: 18px;
    line-height: 29px;
    max-width: 380px;
    padding-bottom: 50px;
  }
}
.hero-section .container .btn {
  margin: 0 auto;
  background: #9C69E2;
  border-radius: 50px;
  border: none;
  padding: 6px 12px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .hero-section .container .btn {
    background: #9C69E2;
    border-radius: 50px;
    padding: 16px 37px;
  }
}
.hero-section .container .btn .btn-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
@media (min-width: 768px) {
  .hero-section .container .btn .btn-link {
    font-size: 18px;
    line-height: 29px;
  }
}

.second-section .container {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  text-align: center;
  margin-bottom: 150px;
}
@media (min-width: 768px) {
  .second-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .second-section .second-column:first-of-type {
    width: 40%;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .second-section .second-column:last-of-type {
    text-align: start;
    width: 60%;
    padding-right: 92px;
    max-width: 475px;
  }
}
.second-section .second-column img {
  padding-bottom: 25px;
}
.second-section .second-column h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #212353;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .second-section .second-column h2 {
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 40px;
  }
}
.second-section .second-column .text-holder-scnd-section {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #4B5D68;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .second-section .second-column .text-holder-scnd-section {
    font-size: 18px;
    line-height: 29px;
  }
}

.testimonials .container {
  background-color: #9C69E2;
  border-radius: 50px;
}
.testimonials .cover {
  padding-bottom: 33px;
}
@media (min-width: 1024px) {
  .testimonials .cover {
    padding-bottom: 133px;
  }
}
.testimonials .white-cover {
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
          box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
}
@media (min-width: 768px) {
  .testimonials .white-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .testimonials .white-cover {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}
.testimonials .testimonials-holder {
  padding: 25px 0 0;
}
@media (min-width: 768px) {
  .testimonials .testimonials-holder {
    padding: 109px 0 85px 93px;
  }
}
.testimonials h2 {
  display: block;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .testimonials h2 {
    font-size: 40px;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .testimonials .image-holder {
    padding: 60px 30px 0 70px;
  }
}
.testimonials .text-holder {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .testimonials .text-holder {
    width: 50%;
    padding: 80px 0 50px;
  }
}
.testimonials h4 {
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
  position: relative;
  margin-bottom: 29px;
}
.testimonials h4::after {
  content: "wordfaang.com";
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: purple;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.testimonials p {
  font-size: 18px;
  line-height: 180%;
  color: #4B5D68;
}